* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
        background-color: rgb(224, 209, 209);

}
h1 {
    float: inline-start;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 3em;
    letter-spacing: 5px;
    margin-block-end: -5%;
    margin-bottom: 80px;
}

header {
    color: rgb(126, 129, 129);
    width: 100%;
    height: 200px;
    background-image: url(../Final-Project/images/1.jfif);
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    background-color: lightgray;
    margin-bottom: 3px;
    text-align: center;
    padding: 5px;
}
header a {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: 60px;
    margin-bottom: 100px;
}

main {
    /* background-color: silver; */
    height: 500px;
    width: calc(75% - 1px);
    float: right;
}

.side-bar {
    height: 500px;
    width: 25%;
    background-color: rgb(187, 44, 44), transparent;
    /* float: left; */
    margin-bottom: 10px;
}
iframe {
    width: 180px;
}
footer {
    height: 30px;
    width: 100%;
    /* background-color: steelblue; */
    clear: both;
}
