body {
    font-weight: bold;
    font-family: "Chalkduster", "Trattatello";
    background-color: black;
    color: white;
    text-align: center;
}
header {
    background-image: url("https://cdn.britannica.com/02/162002-050-02512608/Tupac-Shakur-1993.jpg");
    background-size: 100% 100%;
    /* position: fixed; */
    width: 100%;
    height: 200px;
}

.contactUs {
    text-align: left;
}

article {
    border: 3px solid #800080;
    border-radius: 20px;
    font-size: x-large;
    height: 200px;
    overflow: auto;
}
article::-webkit-scrollbar {
    display: none;
}


.social {
    width: 100px;
}

.social li a {
    filter: invert();
    justify-content: left;
}
a:hover {
    color: white;
    transform: scale(0.5) translateY(-15px);
}

ul {
    display: flex;
    align-items: left;
    justify-content: space-around;
}
li {
    list-style: none;
}
li a {
    display: inline-block;
    color: blueviolet;
    font-size: 40px;
    margin-left: 20px;
    transform: scale(0.5);
    transition: 0.3s;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button {
    width: 200px;
    height: 200px;
    font-size: 40px;
    background-color: lightgray;
    border-radius: 30px;
    border: none;
    margin: 10px;
    filter: invert(1);
}
button:hover {
    background-color: lightcyan;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 10px;
}
