body {
    text-align: center;
}
#wrap {
    background-color: rgb(38, 168, 248);
}
h1 {
    text-align: left;
    font-size: 300%;
}
.copyright {
    text-align: left;
}
li {
    list-style: none;
}

li::first-letter {
    font-size: 150%;
}
