body {
    background-color: rgb(250, 142, 100);
    text-align: center;
}
#wrap {
    background-color: rgb(250, 250, 228);
    border: 5px dotted black;
    display: block;
    padding: auto;
    margin: 0px 50px 0px 50px;
}
h1 {
    border-bottom: 5px dotted black;
}

li {
    list-style: none;
}
li::first-letter {
    font-size: 150%;
}
