button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

button {
    background-color: yellow;
}

button:first-child {
    background-color: black;
    color: white;
}
